{{#extends "main"}}
{{#block "body"}}
        <h1 class="text-center">Confirm Delete</h1>
        <p>Are you sure you want to delete "{{book.title}}"?</p>
        <form action="/books/{{book.book_id}}/delete" method="post">
            <button type="submit" class="btn btn-danger mr-2">Yes, Delete</button>
            <a href="/books" class="btn btn-secondary">Cancel</a>
        </form>
{{/block}}
{{/extends}}

