<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookshelf</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Bookshelf</h1>
    <ul>
        {{#each books}}
            <li>{{this.title}} by {{this.author_name}} ({{this.genre_name}})</li>
        {{/each}}
    </ul>
</body>
</html>